._*
node_modules/*
.env
_data/*
_config/legacy
_legacy
_sample_data
dist/*
ownapi*
_logs/*
build/*
.DS_Store
secrets.txt
user_functions/generated/*
!user_functions/generated/.gitkeep
user_functions/*.go
!user_functions/main.go
go.tar.gz